body {
  background: linear-gradient(800deg, rgba(47, 193, 140, 1), rgba(3, 107, 82, 1));
}

.container-geral {
  align-items: center;

  /* background: linear-gradient(200deg, rgba(47, 193, 140, 1), rgba(3, 107, 82, 1)); */
  height: 120%;
  margin: 50px 0;
}

.container-button-cart {
  align-items: center;
  background-color: rgb(3, 52, 45);
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-search-input {

  /* border: 1px solid yellow; */

  /* display: flex; */
}

.img-cart {
  background-color: rgb(221, 221, 221);
  border-bottom: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  color: white;

  /* margin: 20px 55px 0 0; */
  display: flex;
  height: 60px;
  justify-content: end;
  padding: 10px 70px;
  width: 20%;

}

[ data-testid = 'home-initial-message' ] {
  left: 150px;
  position: absolute;
  top: 85px;
}
