.container-product-card {
  align-items: center;
  background: rgb(256, 255, 255);
  border-radius: 8px;

  /* border: 2px solid rgb(234, 233, 233); */

  /* font-weight: 600; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 5px;
  width: 200px;

}

.img-product-card {
  align-items: center;
  border-radius: 20%;
  display: flex;
  height: 90px;
  justify-content: center;
  margin-left: 5px;
  width: 90px;

}

.title-product-card {
  align-items: center;
  cursor: default;
  display: flex;
  flex-grow: 1;
  font-size: 12px;
  margin: 5px 10px;
  text-align: start;
}

.price-product-card {
  cursor: default;
  display: flex;
  font-family: "'Segoe UI'" , Tahoma , Geneva , Verdana , sans-serif;
  font-weight: 600;
  padding: 10px;
  padding-left: 10px;
  text-align: center;
}
